POSTGRES_USER=superset
POSTGRES_PASSWORD=changeme
POSTGRES_DB=superset_metadata

POSTGRES_MULTIPLE_DATABASES=owid_data

SUPERSET_SECRET_KEY=changeme

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=changeme
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=Admin

GUEST_TOKEN_JWT_SECRET=changeme
GUEST_TOKEN_JWT_EXP_SECONDS=300

FRONTEND_ORIGIN=http://localhost:5173
